<div class="product_item">
  <%= product.name  %><br>
</div>
<div class="product_item">
  <%= product.description  %><br>
</div>
<div class="product_item">
  <%= product.formatted_price  %><br>
</div>

<div class = "links">
  <%= link_to 'Delete Product', product_url(product), :method => :delete %>
  <%= link_to 'Edit Product', edit_product_url(product) %>
</div>
