<h1>All Products</h1>
<%= form_tag products_path, method: :get, authentication: false, id: 'search-form' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>

<div id="products">
  <%= render @products %>
</div>

  <!-- <%= link_to "Login", new_session_path %>
  <%= link_to "Signup", new_user_path %> -->
    <!-- <div class = "link">
    <%= link_to "Create new product", new_product_path %><br>
    </div>

  <% @products.each do |product| %>
    <div class="product_item">
      <%= product.name %>
    </div>
    <div class="product_item">
      <%= product.description %>
    </div>
    <div class="product_item">
      <%= product.formatted_price %>
    </div>
      <%= link_to "Show Product", product_path(product) %>
  <% end %> -->
